.body
{
    background-color: rgb(58, 52, 52);
}
div input
{
    padding: 30px;
    height: 20px;
    width: 15%;
    border-color: black;
    border-radius: 10px;
    border-width: 10px;
    box-shadow: 5px 2px black;
    font-size: 20px;
}

.form
{
    padding-top: 100px;
}
.btn {
  height: 70px;
  width: 70px;
  border: none;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  font-weight: bold;
}

.btn:before {
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left:-2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}

.btn:active {
  color: #000
}

.btn:active:after {
  background: transparent;
}

.btn:hover:before {
  opacity: 1;
}

.btn:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
  
}

@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}
@media screen and (max-width:576px)
{ div input
  {
      width: 70%;
      
  }}
  @media screen and (max-width:768px)
{ div input
  {
      width: 30%;
      
  }}















/* table tr td button .btn::after {
    content: "";
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #333;
    left: 0;
    top: 0;
    border-radius: 10px;
  }
  */
  /* glow 
  table tr td button .btn::before {
    background: linear-gradient(
      45deg,
      #FF0000, #FF7300, #FFFB00, #48FF00,
      #00FFD5, #002BFF, #FF00C8, #FF0000
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 600%;
    z-index: -1;
    width: calc(100% + 4px);
    height:  calc(100% + 4px);
    filter: blur(8px);
    animation: glowing 20s linear infinite;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
    opacity: 0;
  }
  
  @keyframes glowing {
    0% {background-position: 0 0;}
    50% {background-position: 400% 0;}
    100% {background-position: 0 0;}
  }
  */
  
  /* hover 
  table tr td button .btn:hover::before {
    opacity: 1;
  }
  
  table tr td button .btn:active:after {
    background: transparent;
  }
  
  table tr td button .btn:active {
    color: #000;
    font-weight: bold;
  } */
  
